{% extends "base/base.html" %}

{% block title %}
  ERROR VIEW
{% endblock title %}

{% block content %}
    <h1>Error en login, favor de revisar las credenciales</h1>
    <a href="{% url 'home:login' %}" class="btn btn-primary">Return Login</a>
{% endblock content %}