



{% extends 'base/base.html' %}

{% block title %}IndexViews{% endblock title %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h1>Hola Bienvenido {{ user }} </h1>
        <a href="{% url 'home:logout' %}" class="btn btn-link">LogOut</a>
    {% else %}
        <h1>Hola Bienvenido, Favor de hacer LogIn</h1>
        <a href="{% url 'home:login' %}" class="btn btn-link">LogIn</a>
        <p>
            Si no tienes una cuenta registrate <a href="{% url 'home:signup' %}" class="btn btn-link">Aqui</a>
        </p>
    {% endif %}
{% endblock content %}

 